# Intro to Pandas

### What is pandas?

pandas is a python library for data analysis and manipulation.
Pandas provides two additional data structures to python, namely series and dataframe.
these two data structures helps us to work on labeled and relational data.

### Why use Pandas?

To achieve most efficient results in AI & ML space we need to work on large datasets,
but it is just not about quantity but also about quality of data.
pandas helps us to work on large datasets and also helps us to clean and prepare the data for further analysis.
and for every training algorithm the data needs to be in a particular format, clear of any outliers.
pandas helps us to achieve that.

Other advantages are following:

   - Allows the use of labels for rows and columns
   - Can calculate rolling statistics on time series data
   - Easy handling of NaN values
   - Is able to load data of different formats into DataFrames
   - Can join and merge different datasets together
   - It integrates with NumPy and Matplotlib

### pandas series

#### what is pandas series?

pandas series is a one-dimensional labeled array capable of holding data of any type(integer, string, float, python objects, etc.).
The axis labels are collectively called index.

Pandas series can be created using various inputs like âˆ’
Array
dict
scalar value or constant

#### what is the difference between numpy array and pandas series?

In pandas series, the index is not just an integer but can be any value like string, integer, float, etc.
numpy array is a collection of items of the same type and pandas series is a collection of items of different types.

### Creating Pandas Series

In [ ]:
# conda install pandas
# pip install pandas

import pandas as pd
import numpy as np

# create a pandas series using a python list
# series = pd.Series([1, 2, 3, 4, 5])
# print(series)
#
# # # create a pandas series using a numpy array
# series = pd.Series(np.array([1, 2, 3, 4, 5]))
# # series
# print(series)
#
# # create a pandas series using a python dictionary
# series = pd.Series({'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5})
# print(series)
#
# # create a pandas series using a python list and specify the index
# series = pd.Series([1, 2, 3, 4, 5], index=['apple', 'banana', 'carrot', 'dates', 'egg'])
# print(series)
#
# # create a pandas series using a numpy array and specify the index
# series = pd.Series(np.array([1, 2, 3, 4, 5]), index=['apple', 'banana', 'carrot', 'dates', 'egg'])
# print(series)

#### Pandas series also comes with attributes

In [ ]:
series = pd.Series([1, 2, 3, 4, 5], index=['apple', 'banana', 'carrot', 'dates', 'egg'])
print(series.shape)
print(series.ndim)
print(series.size)
print(series.values)
print(series.index)

#### Accessing and deleting elements in pandas series

In [ ]:
series = pd.Series([1, 2, 3, 4, 5], index=['apple', 'banana', 'carrot', 'dates', 'egg'])
# print(series[0])
# print(series['carrot'])
series.iloc[[2, 3]]
# series.iloc[['apple', 'egg']]

#### change elements in a panda series

In [ ]:
series = pd.Series([1, 2, 3, 4, 5], index=['apple', 'banana', 'carrot', 'dates', 'egg'])
series[0] = 10
print(series,'\n')

print('after change', '\n')

series['apple'] = 20
print(series)

#### deleting elements using del

In [ ]:
series = pd.Series([1, 2, 3, 4, 5], index=['apple', 'banana', 'carrot', 'dates', 'egg'])
print(series,'\n')

print('after change', '\n')
del series['apple']
print(series)

#### delete element using drop

In [ ]:
## out-of-place drop

series = pd.Series([1, 2, 3, 4, 5], index=['apple', 'banana', 'carrot', 'dates', 'egg'])
print(series,'\n')

print('after change', '\n')
series.drop("egg")
print(series)

## in-place drop
print('\n','in-place drop', '\n')

series = pd.Series([1, 2, 3, 4, 5], index=['apple', 'banana', 'carrot', 'dates', 'egg'])
print(series,'\n')

print('after change', '\n')
series.drop('egg', inplace=True)
print(series)

#### Arithmetic operations in pandas series

In [ ]:
series1 = pd.Series([1, 2, 3, 4, 5], index=['apple', 'banana', 'carrot', 'dates', 'egg'])
series2 = pd.Series([1, 2, 3, 4, 5], index=['apple', 'banana', 'carrot', 'dates', 'egg'])
print(series1 + series2)
print(series1 - series2)
print(series1 * series2)
print(series1 / series2)

#### Arithmetic operations on pandas series using numpy functions

In [ ]:
series1 = pd.Series([1, 2, 3, 4, 5], index=['apple', 'banana', 'carrot', 'dates', 'egg'])
series2 = pd.Series([1, 2, 3, 4, 5], index=['apple', 'banana', 'carrot', 'dates', 'egg'])
print(np.add(series1, series2))
print(np.subtract(series1, series2))
print(np.multiply(series1, series2))
print(np.divide(series1, series2))

### creating pandas dataframe

#### Manual Method

In [ ]:
items = {'Bob' : pd.Series(data = [245, 25, 55], index = ['bike', 'pants', 'watch']),
         'Alice' : pd.Series(data = [40, 110, 500, 45], index = ['book', 'glasses', 'bike', 'pants'])}

print(type(items))

In [ ]:
shopping_cart = pd.DataFrame(items)
shopping_cart

# you will note that output shown in an tabular format just like a spreadsheet with 2 columns and 5 rows

#### create a dictionary of Pandas Series without indexes

In [ ]:
dict = {'Name': pd.Series(['Tom', 'James', 'Ricky', 'Vin', 'Steve', 'Smith', 'Jack']),
        'Age': pd.Series([25, 26, 25, 23, 30, 29, 23]),
        'Rating': pd.Series([4.23, 3.24, 3.98, 2.56, 3.20, 4.6, 3.8])}
# create a dataframe
df = pd.DataFrame(dict)
# print the output.
df

#### creating pandas dataframe using list

In [ ]:
list = [pd.Series(['Tom', 'James', 'Ricky', 'Vin', 'Steve', 'Smith', 'Jack']),
        pd.Series([25, 26, 25, 23, 30, 29, 23]),
        pd.Series([4.23, 3.24, 3.98, 2.56, 3.20, 4.6, 3.8])]
# create a dataframe
df = pd.DataFrame(list)
# print the output.
df

#### creating pandas dataframe using numpy array

In [ ]:
array = np.array([pd.Series(['Tom', 'James', 'Ricky', 'Vin', 'Steve', 'Smith', 'Jack']),
                  pd.Series([25, 26, 25, 23, 30, 29, 23]),
                  pd.Series([4.23, 3.24, 3.98, 2.56, 3.20, 4.6, 3.8])])
# create a dataframe
df = pd.DataFrame(array)
# print the output.
df

#### creating pandas dataframe using list of dictionaries

In [ ]:
list = [{'a': 1, 'b': 2}, {'a': 5, 'b': 10, 'c': 20}]
# create a dataframe
df = pd.DataFrame(list)
# print the output.
df

#### select specific row from a dataframe

In [ ]:
items = {'Bob' : pd.Series(data = [245, 25, 55], index = ['bike', 'pants', 'watch']),
         'Alice' : pd.Series(data = [40, 110, 500, 45], index = ['book', 'glasses', 'bike', 'pants'])}

sel_shopping_cart = pd.DataFrame(items, index = ['pants', 'book'])
print(sel_shopping_cart)

#### select specific column from a dataframe

In [ ]:
alice_sel_shopping_cart = pd.DataFrame(items, index = ['glasses', 'bike'], columns = ['Alice'])
alice_sel_shopping_cart

#### Access elements using labels

In [ ]:
items2 = [{'bikes': 20, 'pants': 30, 'watches': 35},
          {'watches': 10, 'glasses': 50, 'bikes': 15, 'pants':5}]

store_items = pd.DataFrame(items2, index = ['store 1', 'store 2'])

print(store_items, '\n')
# print('How many bikes are in each store:\n', store_items[['bikes']], '\n')
# print('How many bikes and pants are in each store:\n', store_items[['bikes', 'pants']], '\n')
# print('What items are in Store 1:\n', store_items.loc[['store 1']], '\n')
# print('How many bikes are in Store 2:', store_items['bikes']['store 2'])

#### adding column to a dataframe

In [ ]:

store_items['shirts'] = [15,2]
# print(store_items)

store_items['hats'] = [4, 6]
# store_items.insert(column='hats', value=[4, 6], loc=5)
store_items

#### removing a column

In [ ]:
# using pop
store_items.pop('hats')
store_items

# using delete
# store_items.drop(columns='hats', inplace=True)
# store_items

#### adding row to a dataframe

In [ ]:
new_items = [{'bikes': 20, 'pants': 30, 'watches': 35, 'glasses': 4}]
# using append
# store_items = store_items.append(new_items)
# print(store_items)

# using pandas
store_items_new = pd.DataFrame(new_items, index=['store 3'])
# store_items_new

store_items = store_items.append(store_items_new)
store_items

#### deleting row from a dataframe

In [ ]:
# store_items

# store_items.pop('store 3')
# store_items

store_items = store_items.drop(['store 2', 'store 3'], axis=0)
store_items

#### renaming column and row label

In [ ]:
# store_items

store_items.rename({'store 1': 'store 100'}, inplace=True, axis=0)
# store_items

## or another way
# store_items = store_items.rename(columns={'bikes':'biking'})
store_items

#### Handling NUll values

In [199]:
import pandas as pd

# 7 columns and 3 rows
items2 = [{'bikes': 20, 'pants': 30, 'watches': 35, 'shirts': 15, 'shoes': 8, 'suits': 45},
          {'watches': 10, 'glasses': 50, 'bikes': 15, 'pants': 5, 'shirts': 2, 'shoes': 5, 'suits': 7},
          {'bikes': 20, 'pants': 30, 'watches': 35, 'glasses': 4, 'shoes': 10}]

store_items = pd.DataFrame(items2, index=['store 1', 'store 2', 'store 3'])

print(store_items)

         bikes  pants  watches  shirts  shoes  suits  glasses
store 1     20     30       35    15.0      8   45.0      NaN
store 2     15      5       10     2.0      5    7.0     50.0
store 3     20     30       35     NaN     10    NaN      4.0

In [196]:
total_null = store_items.isnull().sum().sum()
# total_null = total_null.sum()
total_null

3

In [197]:
store_items.isnull()

         bikes  pants  watches  shirts  shoes  suits  glasses
store 1  False  False    False   False  False  False     True
store 2  False  False    False   False  False  False    False
store 3  False  False    False    True  False   True    False

#### droppping null values

In [202]:
# drop values from row
# store_items.dropna(axis = 0, inplace=True)
# store_items

# drop values from column
# store_items.dropna(axis = 1, inplace=True)
# store_items

# we can also replace those null values
store_items.fillna(5, inplace=True)
store_items

         bikes  pants  watches  shirts  shoes  suits  glasses
store 1     20     30       35    15.0      8   45.0      0.0
store 2     15      5       10     2.0      5    7.0     50.0
store 3     20     30       35     0.0     10    0.0      4.0

#### Loading data into a Dataframe

In [203]:
google_stock = pd.read_csv('goog-1.csv')
google_stock

,Date,Open,High,Low,Close,Adj Close,Volume
0,2004-08-19,49.676899,51.693783,47.669952,49.845802,49.845802,44994500
1,2004-08-20,50.178635,54.187561,49.925285,53.805050,53.805050,23005800
2,2004-08-23,55.017166,56.373344,54.172661,54.346527,54.346527,18393200
3,2004-08-24,55.260582,55.439419,51.450363,52.096165,52.096165,15361800
4,2004-08-25,52.140873,53.651051,51.604362,52.657513,52.657513,9257400
...,...,...,...,...,...,...,...
3308,2017-10-09,980.000000,985.424988,976.109985,977.000000,977.000000,891400
3309,2017-10-10,980.000000,981.570007,966.080017,972.599976,972.599976,968400
3310,2017-10-11,973.719971,990.710022,972.250000,989.250000,989.250000,1693300
3311,2017-10-12,987.450012,994.119995,985.000000,987.830017,987.830017,1262400
3312,2017-10-13,992.000000,997.210022,989.000000,989.679993,989.679993,1157700

In [205]:
google_stock.head(10)

         Date       Open       High        Low      Close  Adj Close    Volume
0  2004-08-19  49.676899  51.693783  47.669952  49.845802  49.845802  44994500
1  2004-08-20  50.178635  54.187561  49.925285  53.805050  53.805050  23005800
2  2004-08-23  55.017166  56.373344  54.172661  54.346527  54.346527  18393200
3  2004-08-24  55.260582  55.439419  51.450363  52.096165  52.096165  15361800
4  2004-08-25  52.140873  53.651051  51.604362  52.657513  52.657513   9257400
5  2004-08-26  52.135906  53.626213  51.991844  53.606342  53.606342   7148200
6  2004-08-27  53.700729  53.959049  52.503513  52.732029  52.732029   6258300
7  2004-08-30  52.299839  52.404160  50.675404  50.675404  50.675404   5235700
8  2004-08-31  50.819469  51.519913  50.749920  50.854240  50.854240   4954800
9  2004-09-01  51.018177  51.152302  49.512966  49.801090  49.801090   9206800

In [207]:
google_stock.tail(10)

,Date,Open,High,Low,Close,Adj Close,Volume
3303,2017-10-02,959.979980,962.539978,947.840027,953.270020,953.270020,1283400
3304,2017-10-03,954.000000,958.000000,949.140015,957.789978,957.789978,888300
3305,2017-10-04,957.000000,960.390015,950.690002,951.679993,951.679993,952400
3306,2017-10-05,955.489990,970.909973,955.179993,969.960022,969.960022,1213800
3307,2017-10-06,966.700012,979.460022,963.359985,978.890015,978.890015,1173900
3308,2017-10-09,980.000000,985.424988,976.109985,977.000000,977.000000,891400
3309,2017-10-10,980.000000,981.570007,966.080017,972.599976,972.599976,968400
3310,2017-10-11,973.719971,990.710022,972.250000,989.250000,989.250000,1693300
3311,2017-10-12,987.450012,994.119995,985.000000,987.830017,987.830017,1262400
3312,2017-10-13,992.000000,997.210022,989.000000,989.679993,989.679993,1157700

In [208]:
google_stock.isnull().any()

Date         False
Open         False
High         False
Low          False
Close        False
Adj Close    False
Volume       False
dtype: bool

In [210]:
google_stock.describe()

,Open,High,Low,Close,Adj Close,Volume
count,3313.000000,3313.000000,3313.000000,3313.000000,3313.000000,3.313000e+03
mean,380.186092,383.493740,376.519309,380.072458,380.072458,8.038476e+06
std,223.818650,224.974534,222.473232,223.853780,223.853780,8.399521e+06
min,49.274517,50.541279,47.669952,49.681866,49.681866,7.900000e+03
25%,226.556473,228.394516,224.003082,226.407440,226.407440,2.584900e+06
50%,293.312286,295.433502,289.929291,293.029114,293.029114,5.281300e+06
75%,536.650024,540.000000,532.409973,536.690002,536.690002,1.065370e+07
max,992.000000,997.210022,989.000000,989.679993,989.679993,8.276810e+07

In [212]:
google_stock['Volume'].describe()

count    3.313000e+03
mean     8.038476e+06
std      8.399521e+06
min      7.900000e+03
25%      2.584900e+06
50%      5.281300e+06
75%      1.065370e+07
max      8.276810e+07
Name: Volume, dtype: float64

In [214]:
# google_stock.max()
google_stock.corr()

# google_stock.

               Open      High       Low     Close  Adj Close    Volume
Open       1.000000  0.999904  0.999845  0.999745   0.999745 -0.564258
High       0.999904  1.000000  0.999834  0.999868   0.999868 -0.562749
Low        0.999845  0.999834  1.000000  0.999899   0.999899 -0.567007
Close      0.999745  0.999868  0.999899  1.000000   1.000000 -0.564967
Adj Close  0.999745  0.999868  0.999899  1.000000   1.000000 -0.564967
Volume    -0.564258 -0.562749 -0.567007 -0.564967  -0.564967  1.000000

#### using groupby

In [215]:
comp = pd.read_csv('fake-company.csv')
comp

   Year     Name Department  Age  Salary
0  1990    Alice         HR   25   50000
1  1990      Bob         RD   30   48000
2  1990  Charlie      Admin   45   55000
3  1991   Dakota         HR   26   52000
4  1991     Elsa         RD   31   50000
5  1991    Frank      Admin   46   60000
6  1992    Grace      Admin   27   60000
7  1992  Hoffman         RD   32   52000
8  1992    Inaar      Admin   28   62000

In [218]:
# comp.groupby(['Year'])['Salary'].sum()
comp.groupby(['Year', 'Name'])['Salary'].max()

Year  Name
1990  Alice      50000
      Bob        48000
      Charlie    55000
1991  Dakota     52000
      Elsa       50000
      Frank      60000
1992  Grace      60000
      Hoffman    52000
      Inaar      62000
Name: Salary, dtype: int64

In [219]:
comp.groupby(['Year', 'Department'])['Salary'].max()

Year  Department
1990  Admin         55000
      HR            50000
      RD            48000
1991  Admin         60000
      HR            52000
      RD            50000
1992  Admin         62000
      RD            52000
Name: Salary, dtype: int64